RFClassLibrary/HL7Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/HL7Schema.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/HL7Schema.xsd" xmlns:mstns="http://tempuri.org/HL7Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--<xs:schema targetNamespace="http://c:/HMS/HL7Schema.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/HL7Schema.xsd" xmlns:mstns="http://tempuri.org/HL7Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">  -->
  <xs:element name="MSH">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="_1_field-seperator" type="xs:string" />
        <xs:element name="_2_encoding-characters" type="xs:string" />
        <xs:element name="_3_sending-app" type="xs:string" />
        <xs:element name="_4_sending-facility" type="xs:string" />
        <xs:element name="_5_receiving-app" type="xs:string" />
        <xs:element name="_6_receiving-facility" type="xs:string" />
        <xs:element name="_7_message-datetime" type="xs:string" />
        <xs:element name="_8_security" type="xs:string" />
        <xs:element name="_9_message-type" type="xs:string" />
        <xs:element name="_10_message-control-id" type="xs:string" />
        <xs:element name="_11_processing-id" type="xs:string" />
        <xs:element name="_12_version-id" type="xs:string" />
        <xs:element name="_13_sequence-number" type="xs:string" />
        <xs:element name="_14_continuation-pointer" type="xs:string" />
        <xs:element name="_15_accept-acknowledgement-type" type="xs:string" />
        <xs:element name="_16_application-acknowledgement-type" type="xs:string" />
        <xs:element name="_17_country-code" type="xs:string" />
        <xs:element name="_18_character-set" type="xs:string" />
        <xs:element name="_19_message-principal-language" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="_1_acknowledgement-code" type="xs:string" />
        <xs:element name="_2_message-control-id" type="xs:string" />
        <xs:element name="_3_text-message" type="xs:string" />
        <xs:element name="_4_expected-sequence-number" type="xs:string" />
        <xs:element name="_5_delayed-acknowledgement-type" type="xs:string" />
        <xs:element name="_6_error-condition" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DG1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="_1_set-id" type="xs:string" />
        <xs:element name="_2_diagnosis-coding-method" type="xs:string" />
        <xs:element name="_3_diagnosis-code" type="xs:string" />
        <xs:element name="_4_diagnosis-description" type="xs:string" />
        <xs:element name="_5_diagnosis-date-time" type="xs:string" />
        <xs:element name="_6_diagnosis-type" type="xs:string" />
        <xs:element name="_7_major-diagnostic-category" type="xs:string" />
        <xs:element name="_8_diagnostic-related-group" type="xs:string" />
        <xs:element name="_9_drg-approval-indicator" type="xs:string" />
        <xs:element name="_10_drg-grouper-review-code" type="xs:string" />
        <xs:element name="_11_outlier-type" type="xs:string" />
        <xs:element name="_12_outlier-days" type="xs:string" />
        <xs:element name="_13_grouper-version-and-type" type="xs:string" />
        <xs:element name="_14_diagnosis-priority" type="xs:string" />
        <xs:element name="_15_diagnosis-code" type="xs:string" />
        <xs:element name="_16_diagnosing-clinician" type="xs:string" />
        <xs:element name="_17_diagnosis-classification" type="xs:string" />
        <xs:element name="_18_confidential-indicator" type="xs:string" />
        <xs:element name="_19_attestation-date-time" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBX">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="set-id" type="xs:string" />
        <xs:element name="value-type" type="xs:string" />
        <xs:element name="observation-id" type="xs:string" />
        <xs:element name="observation-subid" type="xs:string" />
        <xs:element name="observations-value" type="xs:string" />
        <xs:element name="units" type="xs:string" />
        <xs:element name="reference-range" type="xs:string" />
        <xs:element name="abnormal-flags" type="xs:string" />
        <xs:element name="probability" type="xs:string" />
        <xs:element name="nature-of-abnormal-test" type="xs:string" />
        <xs:element name="observ-result-status" type="xs:string" />
        <xs:element name="date-last-obs-normal-value" type="xs:string" />
        <xs:element name="user-defined-access-checks" type="xs:string" />
        <xs:element name="datetime-of-observation" type="xs:string" />
        <xs:element name="producers-id" type="xs:string" />
        <xs:element name="responsible-observer" type="xs:string" />
        <xs:element name="observation-method" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="set-id" type="xs:string" />
        <xs:element name="placer-order-number" type="xs:string" />
        <xs:element name="filler-order-number" type="xs:string" />
        <xs:element name="universal-service-id" type="xs:string" />
        <xs:element name="priority" type="xs:string" />
        <xs:element name="datetime-requested" type="xs:string" />
        <xs:element name="datetime-start-observation" type="xs:string" />
        <xs:element name="datetime-end-observation" type="xs:string" />
        <xs:element name="collection-volumne" type="xs:string" />
        <xs:element name="collector-identifier" type="xs:string" />
        <xs:element name="specimen-action-code" type="xs:string" />
        <xs:element name="danger-code" type="xs:string" />
        <xs:element name="relevant-clinical-info" type="xs:string" />
        <xs:element name="datetime-specimen-received" type="xs:string" />
        <xs:element name="specimen-source" type="xs:string" />
        <xs:element name="ordering-provider" type="xs:string" />
        <xs:element name="order-callback-phone-number" type="xs:string" />
        <xs:element name="placer-field-1" type="xs:string" />
        <xs:element name="placer-field-2" type="xs:string" />
        <xs:element name="filler-field-1" type="xs:string" />
        <xs:element name="filler-field-2" type="xs:string" />
        <xs:element name="datetime-results-rpt-status-chng" type="xs:string" />
        <xs:element name="change-to-practice" type="xs:string" />
        <xs:element name="diagnostic-serv-sect-id" type="xs:string" />
        <xs:element name="result-status" type="xs:string" />
        <xs:element name="parent-result" type="xs:string" />
        <xs:element name="quality-timing" type="xs:string" />
        <xs:element name="result-copies-to" type="xs:string" />
        <xs:element name="parent" type="xs:string" />
        <xs:element name="transportation-mode" type="xs:string" />
        <xs:element name="reason-for-study" type="xs:string" />
        <xs:element name="principal-result-interpreter" type="xs:string" />
        <xs:element name="assistant-result-interpreter" type="xs:string" />
        <xs:element name="technician" type="xs:string" />
        <xs:element name="transcriptionist" type="xs:string" />
        <xs:element name="datetime-scheduled" type="xs:string" />
        <xs:element name="number-of-sample-containers" type="xs:string" />
        <xs:element name="transport-logistics-of-collected-sample" type="xs:string" />
        <xs:element name="collectors-comments" type="xs:string" />
        <xs:element name="transport-arrangement-responsibility" type="xs:string" />
        <xs:element name="transport-arranged" type="xs:string" />
        <xs:element name="escort-required" type="xs:string" />
        <xs:element name="planned-patient-transport-comment" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PID">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="_1_set-id-patientid" type="xs:string" />
        <xs:element name="patientid-externalid" type="xs:string" />
        <xs:element name="patientid-internalid" type="xs:string" />
        <xs:element name="alternate-patient-id-pid" type="xs:string" />
        <xs:element name="patient-name">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="family-name" type="xs:string" />
              <xs:element name="given-name" type="xs:string" />
              <xs:element name="middle-name" type="xs:string" />
              <xs:element name="suffix" type="xs:string" />
              <xs:element name="prefix" type="xs:string" />
              <xs:element name="degree" type="xs:string" />
              <xs:element name="name-type-code" type="xs:ID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mothers-maiden-name">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="family-name" type="xs:string" />
              <xs:element name="given-name" type="xs:string" />
              <xs:element name="middle-name" type="xs:string" />
              <xs:element name="suffix" type="xs:string" />
              <xs:element name="prefix" type="xs:string" />
              <xs:element name="degree" type="xs:string" />
              <xs:element name="name-type-code" type="xs:ID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="datetime-of-birth" type="xs:date" />
        <xs:element name="sex" type="xs:string" />
        <xs:element name="patient-alias" type="xs:string" />
        <xs:element name="race" type="xs:string" />
        <xs:element name="patient-address" type="xs:string" />
        <xs:element name="county-code" type="xs:string" />
        <xs:element name="phone-number-home" type="xs:string" />
        <xs:element name="phone-number-business" type="xs:string" />
        <xs:element name="primary-language" type="xs:string" />
        <xs:element name="marital-status" type="xs:string" />
        <xs:element name="religion" type="xs:string" />
        <xs:element name="patient-account-number" type="xs:string" />
        <xs:element name="ssn-number-patient" type="xs:string" />
        <xs:element name="drivers-license-number-patient" type="xs:string" />
        <xs:element name="mothers-identifier" type="xs:string" />
        <xs:element name="ethnic-group" type="xs:string" />
        <xs:element name="birth-place" type="xs:string" />
        <xs:element name="multiple-birth-indicator" type="xs:string" />
        <xs:element name="birth-order" type="xs:string" />
        <xs:element name="citizenship" type="xs:string" />
        <xs:element name="veterans-military-status" type="xs:string" />
        <xs:element name="nationality" type="xs:string" />
        <xs:element name="datetime-patient-death" type="xs:string" />
        <xs:element name="patient-death-indicator" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NTE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="set-id" type="xs:string" />
        <xs:element name="source-of-comment" type="xs:string" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ORC">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order-control" type="xs:string" />
        <xs:element name="placer-order-number" type="xs:string" />
        <xs:element name="filler-order-number" type="xs:string" />
        <xs:element name="placer-group-number" type="xs:string" />
        <xs:element name="order-status" type="xs:string" />
        <xs:element name="response-flag" type="xs:string" />
        <xs:element name="quantity-timing" type="xs:string" />
        <xs:element name="parent" type="xs:string" />
        <xs:element name="datetime-of-transaction" type="xs:string" />
        <xs:element name="entered-by" type="xs:string" />
        <xs:element name="verified-by" type="xs:string" />
        <xs:element name="ordering-provider" type="xs:string" />
        <xs:element name="enterers-location" type="xs:string" />
        <xs:element name="call-back-phone-number" type="xs:string" />
        <xs:element name="datetime-order-effective" type="xs:string" />
        <xs:element name="order-control-code-reason" type="xs:string" />
        <xs:element name="entering-organization" type="xs:string" />
        <xs:element name="entering-device" type="xs:string" />
        <xs:element name="action-by" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GT1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="set-id" type="xs:string" />
        <xs:element name="guarantor-number" type="xs:string" />
        <xs:element name="guarantor-name" type="xs:string" />
        <xs:element name="guarantor-spouse-name" type="xs:string" />
        <xs:element name="guarantor-address" type="xs:string" />
        <xs:element name="guarantor-phone-num-home" type="xs:string" />
        <xs:element name="guarantor-phone-num-business" type="xs:string" />
        <xs:element name="datetime-guarantor-birth" type="xs:string" />
        <xs:element name="guarantor-sex" type="xs:string" />
        <xs:element name="guarantor-type" type="xs:string" />
        <xs:element name="guarantor-relationship" type="xs:string" />
        <xs:element name="guarantor-ssn" type="xs:string" />
        <xs:element name="date-guarantor-begin" type="xs:string" />
        <xs:element name="date-guarantor-end" type="xs:string" />
        <xs:element name="guarantor-priority" type="xs:string" />
        <xs:element name="guarantor-employer-name" type="xs:string" />
        <xs:element name="guarantor-employer-address" type="xs:string" />
        <xs:element name="guarantor-employer-phone-number" type="xs:string" />
        <xs:element name="guarantor-employee-id-number" type="xs:string" />
        <xs:element name="guarantor-employment-status" type="xs:string" />
        <xs:element name="guarantor-organization-name" type="xs:string" />
        <xs:element name="guarantor-billing-hold-flag" type="xs:string" />
        <xs:element name="guarantor-credit-rating-code" type="xs:string" />
        <xs:element name="datetime-guarantor-death" type="xs:string" />
        <xs:element name="guarantor-death-flag" type="xs:string" />
        <xs:element name="guarantor-charge-adjustment-code" type="xs:string" />
        <xs:element name="guarantor-household-annual-income" type="xs:string" />
        <xs:element name="guarantor-household-size" type="xs:string" />
        <xs:element name="guarantor-employer-id-number" type="xs:string" />
        <xs:element name="guarantor-marital-status-code" type="xs:string" />
        <xs:element name="date-guarantor-hire-effective" type="xs:string" />
        <xs:element name="date-employment-stop" type="xs:string" />
        <xs:element name="living-dependency" type="xs:string" />
        <xs:element name="ambulatory-status" type="xs:string" />
        <xs:element name="citizenship" type="xs:string" />
        <xs:element name="primary-language" type="xs:string" />
        <xs:element name="living-arrangement" type="xs:string" />
        <xs:element name="publicity-indicator" type="xs:string" />
        <xs:element name="protection-indicator" type="xs:string" />
        <xs:element name="student-identicator" type="xs:string" />
        <xs:element name="religion" type="xs:string" />
        <xs:element name="mothers-maiden-name" type="xs:string" />
        <xs:element name="nationality" type="xs:string" />
        <xs:element name="ethnic-group" type="xs:string" />
        <xs:element name="contact-person-name" type="xs:string" />
        <xs:element name="contact-persons-telephone-number" type="xs:string" />
        <xs:element name="contact-reason" type="xs:string" />
        <xs:element name="contact-relationship" type="xs:string" />
        <xs:element name="job-title" type="xs:string" />
        <xs:element name="job-code-class" type="xs:string" />
        <xs:element name="guarantor-employers-organization-name" type="xs:string" />
        <xs:element name="handicap" type="xs:string" />
        <xs:element name="job-status" type="xs:string" />
        <xs:element name="guarantor-financial-class" type="xs:string" />
        <xs:element name="guarantor-race" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IN1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="set-id" type="xs:string" />
        <xs:element name="insurance-plan-id" type="xs:string" />
        <xs:element name="insurance-company-id" type="xs:string" />
        <xs:element name="insurance-company-name" type="xs:string" />
        <xs:element name="insurance-company-address" type="xs:string" />
        <xs:element name="insurance-company-contact-person" type="xs:string" />
        <xs:element name="insurance-company-phone-number" type="xs:string" />
        <xs:element name="group-number" type="xs:string" />
        <xs:element name="group-name" type="xs:string" />
        <xs:element name="insureds-group-emp-id" type="xs:string" />
        <xs:element name="insureds-group-emp-name" type="xs:string" />
        <xs:element name="date-plan-effective" type="xs:string" />
        <xs:element name="date-plan-expiration" type="xs:string" />
        <xs:element name="authorization-information" type="xs:string" />
        <xs:element name="plan-type" type="xs:string" />
        <xs:element name="name-of-insured" type="xs:string" />
        <xs:element name="insureds-relation-to-patient" type="xs:string" />
        <xs:element name="date-of-birth-insureds" type="xs:string" />
        <xs:element name="insureds-address" type="xs:string" />
        <xs:element name="assignment-of-benefits" type="xs:string" />
        <xs:element name="coord-of-ben-priority" type="xs:string" />
        <xs:element name="notice-of-admission-flag" type="xs:string" />
        <xs:element name="date-notice-of-admission" type="xs:string" />
        <xs:element name="report-of-eligibility-flag" type="xs:string" />
        <xs:element name="date-report-of-eligibility" type="xs:string" />
        <xs:element name="release-information-code" type="xs:string" />
        <xs:element name="pre-admit-cert" type="xs:string" />
        <xs:element name="datetime-verification" type="xs:string" />
        <xs:element name="verification-by" type="xs:string" />
        <xs:element name="type-of-agreement-code" type="xs:string" />
        <xs:element name="billing-status" type="xs:string" />
        <xs:element name="lifetime-reserve-days" type="xs:string" />
        <xs:element name="delay-before-lr-day" type="xs:string" />
        <xs:element name="company-plan-code" type="xs:string" />
        <xs:element name="policy-number" type="xs:string" />
        <xs:element name="policy-deductible" type="xs:string" />
        <xs:element name="policy-limit-amount" type="xs:string" />
        <xs:element name="policy-limit-days" type="xs:string" />
        <xs:element name="room-rate-semi-private" type="xs:string" />
        <xs:element name="room-rate-private" type="xs:string" />
        <xs:element name="insureds-employment-status" type="xs:string" />
        <xs:element name="insureds-sex" type="xs:string" />
        <xs:element name="insureds-employer-address" type="xs:string" />
        <xs:element name="verification-status" type="xs:string" />
        <xs:element name="prior-insurance-plan-id" type="xs:string" />
        <xs:element name="coverage-type" type="xs:string" />
        <xs:element name="handicap" type="xs:string" />
        <xs:element name="insureds-id-number" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IN2">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="insured-employee-id" type="xs:string" />
        <xs:element name="insured-ssn" type="xs:string" />
        <xs:element name="insured-employer-name" type="xs:string" />
        <xs:element name="employer-information-data" type="xs:string" />
        <xs:element name="mail-claim-party" type="xs:string" />
        <xs:element name="medicare-health-ins-card-number" type="xs:string" />
        <xs:element name="medicaid-case-name" type="xs:string" />
        <xs:element name="medicaid-case-number" type="xs:string" />
        <xs:element name="champus-sponsor-name" type="xs:string" />
        <xs:element name="champus-id-number" type="xs:string" />
        <xs:element name="dependent-of-champus-recipient" type="xs:string" />
        <xs:element name="champus-organization" type="xs:string" />
        <xs:element name="champus-station" type="xs:string" />
        <xs:element name="champus-service" type="xs:string" />
        <xs:element name="champus-rank-grade" type="xs:string" />
        <xs:element name="champus-status" type="xs:string" />
        <xs:element name="champus-retire-date" type="xs:string" />
        <xs:element name="champus-nonavail-cert-on-file" type="xs:string" />
        <xs:element name="baby-coverage" type="xs:string" />
        <xs:element name="combine-baby-bill" type="xs:string" />
        <xs:element name="blood-deductible" type="xs:string" />
        <xs:element name="special-coverage-approval-name" type="xs:string" />
        <xs:element name="special-coverage-approval-time" type="xs:string" />
        <xs:element name="non-covered-insurance-code" type="xs:string" />
        <xs:element name="payor-id" type="xs:string" />
        <xs:element name="payor-subscriber-id" type="xs:string" />
        <xs:element name="eligibility-source" type="xs:string" />
        <xs:element name="room-coverage-type-amount" type="xs:string" />
        <xs:element name="policy-type-account" type="xs:string" />
        <xs:element name="daily-deductible" type="xs:string" />
        <xs:element name="living-dependency" type="xs:string" />
        <xs:element name="ambulatory-status" type="xs:string" />
        <xs:element name="citizenship" type="xs:string" />
        <xs:element name="primary-language" type="xs:string" />
        <xs:element name="living-arrangement" type="xs:string" />
        <xs:element name="publicity-indicator" type="xs:string" />
        <xs:element name="protection-indicator" type="xs:string" />
        <xs:element name="student-indicator" type="xs:string" />
        <xs:element name="religion" type="xs:string" />
        <xs:element name="mothers-maiden-name" type="xs:string" />
        <xs:element name="nationality" type="xs:string" />
        <xs:element name="ethnic-group" type="xs:string" />
        <xs:element name="marital-status" type="xs:string" />
        <xs:element name="insureds-employment-start-date" type="xs:string" />
        <xs:element name="insureds-employment-stop-date" type="xs:string" />
        <xs:element name="job-title" type="xs:string" />
        <xs:element name="job-code-class" type="xs:string" />
        <xs:element name="job-status" type="xs:string" />
        <xs:element name="employer-contact-person-name" type="xs:string" />
        <xs:element name="employer-contact-person-phone-number" type="xs:string" />
        <xs:element name="employer-contact-reason" type="xs:string" />
        <xs:element name="insureds-contact-person-name" type="xs:string" />
        <xs:element name="insureds-contact-person-phone-number" type="xs:string" />
        <xs:element name="insureds-contact-person-reason" type="xs:string" />
        <xs:element name="relationship-to-patient-start-date" type="xs:string" />
        <xs:element name="relationship-to-patient-stop-date" type="xs:string" />
        <xs:element name="insurance-company-contact-reason" type="xs:string" />
        <xs:element name="insurance-company-contact-phone-number" type="xs:string" />
        <xs:element name="policy-scope" type="xs:string" />
        <xs:element name="policy-source" type="xs:string" />
        <xs:element name="patient-member-number" type="xs:string" />
        <xs:element name="guarantors-relationship-to-insured" type="xs:string" />
        <xs:element name="insureds-telephone-number-home" type="xs:string" />
        <xs:element name="insureds-telephone-number-work" type="xs:string" />
        <xs:element name="insureds-employer-telephone-number" type="xs:string" />
        <xs:element name="military-handicapped-program" type="xs:string" />
        <xs:element name="suspend-flag" type="xs:string" />
        <xs:element name="copay-limit-flag" type="xs:string" />
        <xs:element name="stoploss-limit-flag" type="xs:string" />
        <xs:element name="insured-organization-name-and-id" type="xs:string" />
        <xs:element name="insured-employer-organization-name-and-id" type="xs:string" />
        <xs:element name="race" type="xs:string" />
        <xs:element name="hcfa-patient-relationship-to-insured" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PV1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="set-id" type="xs:string" />
        <xs:element name="patient-class" type="xs:string" />
        <xs:element name="assigned-patient-location" type="xs:string" />
        <xs:element name="admission-type" type="xs:string" />
        <xs:element name="preadmint-number" type="xs:string" />
        <xs:element name="prior-patient-location" type="xs:string" />
        <xs:element name="attending-doctor" type="xs:string" />
        <xs:element name="referring-doctor" type="xs:string" />
        <xs:element name="consulting-doctor" type="xs:string" />
        <xs:element name="hospital-service" type="xs:string" />
        <xs:element name="temporary-location" type="xs:string" />
        <xs:element name="readmit-test-indicator" type="xs:string" />
        <xs:element name="readmission-indicator" type="xs:string" />
        <xs:element name="admit-source" type="xs:string" />
        <xs:element name="ambulatory-status" type="xs:string" />
        <xs:element name="vip-indicator" type="xs:string" />
        <xs:element name="admitting-doctor" type="xs:string" />
        <xs:element name="patient-type" type="xs:string" />
        <xs:element name="visit-number" type="xs:string" />
        <xs:element name="financial-class" type="xs:string" />
        <xs:element name="charge-price-indicator" type="xs:string" />
        <xs:element name="curtesy-code" type="xs:string" />
        <xs:element name="credit-rating" type="xs:string" />
        <xs:element name="contract-code" type="xs:string" />
        <xs:element name="date-contract-effective" type="xs:string" />
        <xs:element name="contract-amount" type="xs:string" />
        <xs:element name="contract-period" type="xs:string" />
        <xs:element name="interest-code" type="xs:string" />
        <xs:element name="transfer-to-bad-debt-code" type="xs:string" />
        <xs:element name="date-transfer-to-bad-debt" type="xs:string" />
        <xs:element name="bad-debt-agency-code" type="xs:string" />
        <xs:element name="bad-debt-transfer-amount" type="xs:string" />
        <xs:element name="bad-debt-recovery-amount" type="xs:string" />
        <xs:element name="delete-account-indicator" type="xs:string" />
        <xs:element name="date-delete-account" type="xs:string" />
        <xs:element name="discharge-disposition" type="xs:string" />
        <xs:element name="discharged-to-location" type="xs:string" />
        <xs:element name="diet-type" type="xs:string" />
        <xs:element name="servicing-facility" type="xs:string" />
        <xs:element name="bed-status" type="xs:string" />
        <xs:element name="account-status" type="xs:string" />
        <xs:element name="pending-location" type="xs:string" />
        <xs:element name="prior-tempory-location" type="xs:string" />
        <xs:element name="datetime-admit" type="xs:string" />
        <xs:element name="datetime-discharge" type="xs:string" />
        <xs:element name="current-patient-balance" type="xs:string" />
        <xs:element name="total-charges" type="xs:string" />
        <xs:element name="total-adjustments" type="xs:string" />
        <xs:element name="total-payments" type="xs:string" />
        <xs:element name="alternate-visit-id" type="xs:string" />
        <xs:element name="visit-indicator" type="xs:string" />
        <xs:element name="other-healthcare-provider" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZPS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="set-id" type="xs:string" />
        <xs:element name="lab-site-mnemonic" type="xs:string" />
        <xs:element name="lab-site-name" type="xs:string" />
        <xs:element name="lab-site-address" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZZZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NONSTANDARD" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>